beautifulsoup4==4.12.3
google-ai-generativelanguage==0.6.18
google-api-core==2.25.1
google-auth==2.35.0
google-genai==1.28.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
huggingface-hub==0.34.4
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-ollama
numpy==1.26.4
pandas==2.2.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
selenium==4.35.0
streamlit==1.49.1
torch
transformers==4.54.1
webdriver-manager==4.0.2
tabulate